<header
    class="flex flex-wrap items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf3] px-4 @[480px]:px-10 py-3">
    {% assign t = site.data.translations[page.lang] %}
    <div class="flex items-center gap-4 text-[#0d141b]">
        <div class="size-4">
            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M24 4C25.7818 14.2173 33.7827 22.2182 44 24C33.7827 25.7818 25.7818 33.7827 24 44C22.2182 33.7827 14.2173 25.7818 4 24C14.2173 22.2182 22.2182 14.2173 24 4Z"
                    fill="currentColor"></path>
            </svg>
        </div>
        <h2 class="text-[#0d141b] text-lg font-bold leading-tight tracking-[-0.015em]"><a href="/">Nico Bleh</a></h2>
    </div>
    <div class="flex flex-1 justify-end gap-8">
        <div class="flex items-center gap-9">
            {% if page.lang == 'de' %}
            <a class="text-[#0d141b] text-sm font-medium leading-normal" href="/">{{ t.nav_home }}</a>
            {% else %}
            <a class="text-[#0d141b] text-sm font-medium leading-normal" href="/en">{{ t.nav_home }}</a>
            {% endif %}
            <a class="text-[#0d141b] text-sm font-medium leading-normal" href="about">{{ t.nav_about }}</a>
            <a class="text-[#0d141b] text-sm font-medium leading-normal" href="services">{{ t.nav_services }}</a>
            <a class="text-[#0d141b] text-sm font-medium leading-normal" href="portfolio">{{ t.nav_portfolio }}</a>
        </div>
        <div class="flex items-center gap-4">
            <a href="{% if page.lang == 'de' %}/en/{% else %}/{% endif %}"
                class="text-[#0d141b] text-sm font-medium leading-normal">
                {% if page.lang == 'de' %}EN{% else %}DE{% endif %}
            </a>
        </div>
        <a href="https://forms.gle/x745HeiKKSRCv5tH7" target="_blank" rel="noopener">
            <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#137beb] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]">
                <span class="truncate">Get in Touch</span>
            </button>
        </a>
    </div>
</header>