{% assign t = site.data.translations[page.lang] %}
<h2 class="text-[#0d141b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
    {{ t.projects_title }}</h2>
<div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
    <div class="flex items-stretch p-4 gap-3">
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
            <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                style='background-image: url("/images/saas.png");'></div>
            <div>
                <p class="text-[#0d141b] text-base font-medium leading-normal">{{ t.project1_title }}</p>
                <p class="text-[#4c719a] text-sm font-normal leading-normal">{{ t.project1_desc }}</p>
            </div>
        </div>
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
            <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                style='background-image: url("/images/process.png");'></div>
            <div>
                <p class="text-[#0d141b] text-base font-medium leading-normal">{{ t.project2_title }}</p>
                <p class="text-[#4c719a] text-sm font-normal leading-normal">{{ t.project2_desc }}</p>
            </div>
        </div>
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
            <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                style='background-image: url("/images/ecommerce.png");'></div>
            <div>
                <p class="text-[#0d141b] text-base font-medium leading-normal">{{ t.project3_title }}</p>
                <p class="text-[#4c719a] text-sm font-normal leading-normal">{{ t.project3_desc }}</p>
            </div>
        </div>
    </div>
</div>