<h2 class="text-[#0d141b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
    Selected
    Projects</h2>
<div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
    <div class="flex items-stretch p-4 gap-3">
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
            <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                style='background-image: url("/images/saas.png");'></div>
            <div>
                <p class="text-[#0d141b] text-base font-medium leading-normal">SaaS Integration
                    &amp; Infrastructure
                    Stability</p>
                <p class="text-[#4c719a] text-sm font-normal leading-normal">
                    Solved technology fragmentation by integrating advanced SaaS platforms and
                    stabilizing core
                    infrastructure, while aligning stakeholders to support and sustain rapid
                    business growth.
                </p>
            </div>
        </div>
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
            <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                style='background-image: url("/images/process.png");'></div>
            <div>
                <p class="text-[#0d141b] text-base font-medium leading-normal">Process Optimization
                    &amp; Architecture
                    Innovation</p>
                <p class="text-[#4c719a] text-sm font-normal leading-normal">
                    Eliminated infrastructure bottlenecks and inefficient development workflows by
                    redesigning processes
                    and introducing modern product architectures, resulting in significantly
                    improved productivity.
                </p>
            </div>
        </div>
        <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
            <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                style='background-image: url("/images/ecommerce.png");'></div>
            <div>
                <p class="text-[#0d141b] text-base font-medium leading-normal">Optimizing E-Commerce
                    Platform</p>
                <p class="text-[#4c719a] text-sm font-normal leading-normal">
                    Solved major scalability challenges by optimizing the merchant dashboard,
                    increasing software team
                    efficiency, improving roadmap execution, and clarifying investor reporting.
                </p>
            </div>
        </div>
    </div>
</div>