---
lang: en
---
{% assign t = site.data.translations[page.lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="utf-8">
  <title>{{ t.nav_impressum }} | Nico Bleh</title>

    <link rel="stylesheet" href="/styles/fonts.css" />

	<link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
	<link href="/styles/output.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width">

</head>
<body>
  {% include nav.html %}

  <main class="px-4 py-10 max-w-[960px] mx-auto prose">
    <h1 class="text-3xl font-bold mb-6">{{ t.nav_impressum }}</h1>
    <section>
      <p><strong>{{ t.imprint_responsible_title }}</strong></p>
      <p>Nico Bleh</p>
      <p>Westhofener Str. 7</p>
      <p>67596 Dittelsheim-Heßloch</p>
      <p>Germany</p>
    </section>

    <section class="mt-8">
      <h2>{{ t.imprint_contact_title }}</h2>
      <p>{{ t.imprint_email_label }} <a href="mailto:nico@nicobleh.com">nico@nicobleh.com</a></p>
      <p>{{ t.imprint_phone_label }} +49 176 42048043</p>
    </section>

    <section class="mt-8">
      <h2>{{ t.imprint_vat_title }}</h2>
      <p>{{ t.imprint_vat_text }}</p>
    </section>
  </main>

  {% include footer.html %}
</body>
</html>