---
lang: de
---
{% assign t = site.data.translations[page.lang] %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
	<link rel="stylesheet" href="/styles/fonts.css" />

	<title>Nico Bleh Consulting</title>
	<link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
	<link href="/styles/output.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width">
</head>

<body>
	<div class="relative flex size-full @[480px]:min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden"
		style='font-family: Inter, "Noto Sans", sans-serif;'>
		<div class="layout-container flex h-full grow flex-col">
			{% include nav.html %}
			<div class="px-4 @[480px]:px-40 flex flex-1 justify-center py-5">
				<div class="layout-content-container flex flex-col w-full max-w-[960px] flex-1">
					<div class="@container">
						<div class="flex w-full flex-col gap-6 px-4 py-10 @[480px]:gap-8 @[864px]:flex-row">
							{% include hero.html %}
							<div class="flex flex-col gap-6 @[480px]:min-w-[400px] @[480px]:gap-8 @[864px]:justify-center">
								<div class="flex flex-col gap-2 text-left">
									<h1 class="text-[#0d141b] text-3xl @[480px]:text-4xl @[864px]:text-5xl font-black leading-tight tracking-[-0.033em]">
										{{ t.hero_title }}
									</h1>
									<h2 class="text-[#0d141b] text-base @[480px]:text-lg font-normal leading-normal">
										{{ t.hero_subtitle }}
									</h2>
								</div>
								<a href="https://forms.gle/x745HeiKKSRCv5tH7" target="_blank" rel="noopener">
									<button
										class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#137beb] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]">
										<span class="truncate">{{ t.hero_button_label }}</span>
									</button>
								</a>
							</div>
						</div>
					</div>
					{% include areas_of_expertise.html %}
					{% include selected_projects.html %}
					{% include testimonials.html %}
					{% include cta.html %}
				</div>
			</div>
			{% include footer.html %}
		</div>
	</div>
</body>

</html>